h1 {
  color: grey;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;

  table-layout: fixed;
}

td {
  padding: 0.5rem 1rem;
}

th:first-child {
  width: 50vw;
}
td:nth-child(1) {
  color: white;
  background-color: grey;

  overflow: hidden;
  text-overflow: ellipsis;
}
